<button ng-click="ctrl.loadDownloadVideo()" class="btn btn-primary">Refresh</button>
<div class="row">
	<div class="col-md-6">
		
		<div class="box box-info">
			<div class="box-header with-border">
				<h3 class="box-title">Add YouTube link</h3>
			</div>
			<!-- <button ng-click="ctrl.loadUploadVideo()" class="btn btn-primary">Refresh</button> -->
			<div class="form-group box-body">
				<label>You tube video</label>
				<input class="form-control" ng-model="ctrl.ytLink" placeholder="You tube url" ng-keypress="($event.which === 13)?ctrl.addYoutubeVideo():0"/>
				<div>
					<button class="btn btn-info" ng-click="ctrl.addYoutubeVideo()">Add Video</button>
				</div>
			</div>
		</div>
		<div class="box box-info">
			<div class="box-header with-border">
				<h3 class="box-title">Download Information</h3>
			</div>
			<div class="form-group box-body">
				<label>Download Upload Connection:</label>
				<input ng-model="ctrl.maxDownloadConnection"  ng-change="ctrl.updateDownloadInfo()" class="form-control"/>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">List Download</h3>
				</div><!-- /.box-header -->
				<div class="box-body">
					<table class="table table-bordered">
						<tbody><tr>
							<th style="width: 10px">#</th>
							<th>Title</th>
							<th>Progress</th>
							<th style="width: 40px">Percent</th>
							<th style="width: 40px"></th>
						</tr>
						<tr ng-repeat="video in ctrl.ListDownloadVideo">
							<td>{{video.id}}</td>
							<td>{{video.title}}</td>
							<td>
								<div class="progress progress-xs">
									<div class="progress-bar progress-bar-danger" style="width:{{video.percent}}%"></div>
								</div>
							</td>
							<td><span class="badge bg-red">{{video.percent}}%</span></td>
							<td><button ng-click="ctrl.download(video)"> Download</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<button ng-click="ctrl.loadLocalVideo()" class="btn btn-primary">Refresh</button>
<div class="row">
	<div class="box">
		<div class="box-header with-border">
			<h3 class="box-title">List Video Folder Download</h3>
			</div><!-- /.box-header -->
			<div class="box-body">
				<div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="video in ctrl.ListLocalVideo">
					<div class="info-box"  >
						<div>
							<img style="width: 100%; height: 200px;" ng-src="{{video.image}}" alt="{{video.title}}"/>
						</div>
						<div>
							<span class="info-box-text">{{video.title}}</span>
							<span class="info-box-text">Author : {{video.channelTitle}}</span>
							<span class="info-box-text">Date : {{video.published}}</span>
							<span class="info-box-text">View : {{video.numberView}}</span>
							<span class="info-box-text">Like : {{video.numberLike}}</span>
							<div class="info-box-text">
								<button ng-click="ctrl.upload(video)">Upload</button>
							</div>
							</div><!-- /.info-box-content -->
							</div><!-- /.info-box -->
						</div>
					</div>
				</div>
			</div>