<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EdgeTool.auto" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="autokey.auto" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <EdgeTool.auto>
            <setting name="TotalTime" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="NumberForm" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FormJsonData" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyBackData" serializeAs="String">
                <value />
            </setting>
        </EdgeTool.auto>
        <autokey.auto>
            <setting name="form1Key" serializeAs="String">
                <value />
            </setting>
            <setting name="form2Key" serializeAs="String">
                <value />
            </setting>
            <setting name="form1Mouse" serializeAs="String">
                <value />
            </setting>
            <setting name="form2Mouse" serializeAs="String">
                <value />
            </setting>
            <setting name="form1TimeRun" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="form2TimeRun" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="form1TimeWait" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="form2TimeWait" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="form1TimeMouseClick" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="form2TimeMouseClick" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="form1SendKeyBack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="form2SendKeyBack" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TotalTime" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="NumberForm" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FormJsonData" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyBackData" serializeAs="String">
                <value />
            </setting>
        </autokey.auto>
    </userSettings>
</configuration>